body {
	background-color: #8FB79D;
}

nav {
	box-shadow: 0 0  2px 0;
}

.container {
	margin: auto;
	max-width: 1000px;
	padding: 70px 5px 200px 5px;
	background-color: #F4F7DC;
}

.container div {
	width: 80%;
	margin: auto;
}

h1,
h2,
h3 {
	color: #79B287;
	text-align: center;
}

h2 {
	padding-top: 70px;
}

img {
	border: 5px solid #555;
	float: right;
	width: 25%;
	margin: 10px;
	box-sizing: border-box;
}

td {
	padding-right: 10px;
}